Source: music-hub
Priority: optional
Section: libs
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               dbus-cpp-dev,
               dbus-test-runner,
               debhelper (>= 9),
               doxygen,
               google-mock,
               libboost-dev (>=1.53),
               libdbus-1-dev,
               libgoogle-glog-dev,
               libgstreamer1.0-dev,
               pkg-config,
Standards-Version: 3.9.4
Homepage: https://launchpad.net/music-hub
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead.  ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/music-hub/trunk

Package: libmusic-hub-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Pre-Depends: dpkg (>= 1.15.6~)
Depends: libmusic-hub0 (= ${binary:Version}),
         ${misc:Depends},
Suggests: libmusic-hub-doc
Description: Simple and lightweight music playback service - development files
 Music Hub is a simple and lightweight service for music playback using
 DBus.
 .
 This package contains the development files.

Package: libmusic-hub0
Architecture: any
Multi-Arch: same
Pre-Depends: dpkg (>= 1.15.6~)
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Simple and lightweight music playback service
 Music Hub is a simple and lightweight service for music playback using
 DBus.
 .
 This package contains the library itself.

Package: libmusic-hub-doc
Section: doc
Architecture: all
Depends: ${misc:Depends},
         ${shlibs:Depends},
Recommends: libmusic-hub-dev
Description: Simple and lightweight music playback service - documentation
 Music Hub is a simple and lightweight service for music playback using
 DBus.
 .
 This package contains the documentation.
