Source: media-hub
Priority: optional
Section: libs
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: cmake,
               dbus-test-runner <!nocheck>,
               debhelper (>= 9),
               dh-apparmor,
               doxygen <!nodoc>,
               google-mock <!nocheck>,
               graphviz <!nodoc>,
               gstreamer1.0-plugins-good,
               libboost-dev (>=1.53),
               libboost-filesystem-dev (>=1.53),
               libboost-log-dev (>=1.53),
               libboost-program-options-dev (>=1.53),
               libboost-system-dev (>=1.53),
               libdbus-1-dev,
               libdbus-cpp-dev (>= 4.3.0),
               libgoogle-glog-dev,
               libhybris-dev (>=0.1.0+git20131207+e452e83-0ubuntu30),
               libprocess-cpp-dev,
               libproperties-cpp-dev,
               libgstreamer1.0-dev,
               libgstreamer-plugins-base1.0-dev,
               lsb-release,
               pkg-config,
               libpulse-dev,
               qtbase5-dev,
               libtelepathy-qt5-dev,
               libegl1-mesa-dev,
               libgl1-mesa-dev,
               gstreamer1.0-fluendo-mp3,
Standards-Version: 3.9.6
Homepage: https://launchpad.net/media-hub
# If you aren't a member of ~phablet-team but need to upload packaging changes,
# just go ahead.  ~phablet-team will notice and sync up the code again.
Vcs-Bzr: https://code.launchpad.net/~phablet-team/media-hub/trunk

Package: libmedia-hub-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libmedia-hub-common5 (= ${binary:Version}),
         libmedia-hub-client5 (= ${binary:Version}),
         ${misc:Depends},
         libproperties-cpp-dev,
Suggests: libmedia-hub-doc
Description: Simple and lightweight media playback service - development files
 Media Hub is a simple and lightweight service for media playback using
 DBus.
 .
 This package contains the development files.

Package: media-hub
Architecture: any
Depends: ${misc:Depends},
         ${shlibs:Depends},
Suggests: apparmor (>= 2.8.95~2430-0ubuntu4~)
Description: Simple and lightweight media playback service
 Media Hub is a simple and lightweight service for media playback using
 DBus.
 .
 This package contains the runtime.

Package: libmedia-hub-common5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Simple and lightweight media playback service
 Media Hub is a simple and lightweight service for media playback using
 DBus.
 .
 This package contains the common libraries.

Package: libmedia-hub-client5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends},
         ${shlibs:Depends},
Description: Simple and lightweight media playback service
 Media Hub is a simple and lightweight service for media playback using
 DBus.
 .
 This package contains the client libraries.

Package: libmedia-hub-doc
Section: doc
Architecture: all
Build-Profiles: <!nodoc>
Depends: ${misc:Depends},
         ${shlibs:Depends},
Recommends: libmedia-hub-dev
Description: Simple and lightweight media playback service - documentation
 Media Hub is a simple and lightweight service for media playback using
 DBus.
 .
 This package contains the documentation.
