#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

export DPKG_GENSYMBOLS_CHECK_LEVEL=4

include /usr/share/dpkg/default.mk

# Explicitly selecting a G{CC,++}-version here to avoid accidental
# ABI breaks introduced by toolchain updates.
export CC=$(DEB_HOST_GNU_TYPE)-gcc-4.9
export CXX=$(DEB_HOST_GNU_TYPE)-g++-4.9

%:
	dh $@ --fail-missing --parallel -- -B build 

override_dh_auto_configure:
	dh_auto_configure -- -DCMAKE_C_COMPILER=$(CC) -DCMAKE_CXX_COMPILER=$(CXX)

override_dh_auto_test:
	env -u LD_PRELOAD dh_auto_test

override_dh_installdeb:
	dh_apparmor --profile-name=usr.bin.media-hub-server -pmedia-hub
	dh_installdeb
